.productosContainer {
    min-height: 550px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    background: #f4f4f4;
    box-shadow: 0 2px 5px black;
}

.productoCard, .productoCardOferta {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 15px;
    background: #fff;
    width: calc(33.333% - 40px); /* Ajuste para 3 columnas, incluyendo el espaciado */
    margin: 10px;
}

.productoCardOferta {
    border-color: red;
    box-shadow: 0 2px 5px rgba(255, 0, 0, 0.5); /* Sombra roja para productos en oferta */
}

.productoCard h3, .productoCardOferta h3 {
    color: #cc0000;
    text-align: center;
}

.nombre__Producto, .descripcion__Producto, .precio__Producto, .stock__Producto {
    margin: 10px 0;
}

.imgContainer img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}

.botonAddCesta, .boton {
    display: inline-block;
    background-color: #5cb85c;
    color: white;
    padding: 8px 12px;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 10px;
}

.botonAddCesta:hover, .boton:hover {
    background-color: #4cae4c;
}

.editarEliminarContainer .boton {
    margin-right: 10px;
}


/* Estilos responsivos para pantallas más pequeñas */
@media (max-width: 768px) {
    .productoCard, .productoCardOferta {
        width: calc(50% - 40px); /* Ajuste para 2 columnas */
    }
}

@media (max-width: 480px) {
    .productoCard, .productoCardOferta {
        width: 100%; /* Una sola columna para pantallas muy pequeñas */
    }

}
