.gestionCategoriasContainer {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.gestionCategoriasContainer ul {
    list-style-type: none;
    padding: 0;
}

.gestionCategoriasContainer ul li {
    background-color: #f8f8f8;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gestionCategoriasContainer ul li span a {
    text-decoration: none;
    color: #007bff;
    padding: 5px 10px;
    margin-right: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.gestionCategoriasContainer ul li span a:hover {
    background-color: #007bff;
    color: white;
    border-radius: 4px;
}

.gestionCategoriasContainer ul li span:last-child {
    display: flex;
    gap: 10px;
}

/* Estilos para los errores */
.gestionCategoriasContainer ul.error-list {
    background-color: #ffdddd;
    border-left: 6px solid #f44336;
    margin-bottom: 15px;
    padding: 10px;
}

.gestionCategoriasContainer ul.error-list li {
    color: #f44336;
}

.rojo{
    color: red !important;
}
